<h1>クラス委員立候補者</h1>

<h2>Misa,&nbsp;&nbsp Saya,&nbsp;&nbsp Anna</h2>
<h2>Kate,&nbsp;&nbsp Sara</h2></br>

<h1><%= @name %></h1>

<h2>1.<%= @selected[0] %></h2>	
<h2>2.<%= @selected[1] %></h2>
<h2>3.<%= @selected[2] %></h2>
<h2>4.<%= @selected[3] %></h2>

<h3><%= link_to '再選出', 'http://localhost:3000/lot_eight/select' %></h3>
<h3><%= link_to 'HOME', 'http://localhost:3000/index' %></h3>
